* {
  margin: 0;
    padding: 0; 
    scroll-behavior: smooth; 
    box-sizing: border-box;
    
    
    body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}
.main {
    width: 100%;
    
    height: 100vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: 0 auto;  
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  clip-path: circle(45%);
  transition: all 0.4s ease-in-out;
  
}
.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.5);
  clip-path: ellipse(50% 40% at 50% 50%);
}
.menu {
  width: 400px;
  height: 70px;
  
}
ul {
  display:flex;
justify-content: space-between;
    align-items: center;
    gap: 40px;
}
ul li {
  list-style: none;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: #f1c40f;
}
.search {
  width: 300px;
  height: 70px;
  margin-top: 50px;
}
.srch {
  width: 200px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #f1c40f;
  color: white;
  font-size: 16px;
  margin-top: -10px;
  padding: 10px;
  border-right: none;
  border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.srch:focus {
  outline: none;
}
.btn {
  width: 80px;
  height: 40px;
  background: #f1c40f;
  border-radius: 5px;
  border: 2px solid #f1c40f;
  border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
  color: white;
  margin-top: -10px;
  font-size: 15px;
}
.btn:focus {
  outline: none;
}
.content {
  width: 80%;
  position: relative;
  height: auto;
    margin: 2%;
    color: white;
  
  
}
.content .par{
    max-width: 600px;
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
    }
.content h1 {
  font-size: 50px;
  margin-top: 9%;
  padding-left: 20px;
  letter-spacing: 2px;

}
.content .cn{
    width: 160px;
    height: 40px;
    background: #f1c40f;    
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.content .cn:hover {
  background: white;
}
.content .cn a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-in-out;
}
.content span {
  font-size: 60px;
  color: #f1c40f;
}
.form {
    width: 300px;
    height: 430px;
    background: rgba(0, 0, 0, 0.8);

    position: absolute;
    top: -40px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2 {
    color: #f1c40f;
    background-color: white;
    text-align: center;
    width: 220px;
    font-size: 22px;
    border-radius: 10px;
    padding: 2px;
    margin: 8px;  
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border: 1px solid #f1c40f;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: white;
    font-size: 16px;
}
.form .btnn {
    width: 200px;
    height: 40px;
    background: #f1c40f;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}  
.form .btnn:hover {
    background: white;
    color:#f1c40f
}     
.form .btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}    
.form .link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
.form .link a {
    text-decoration: none;
    color: #f1c40f;

}
.liw {
padding-top: 10px;
padding-bottom: 10px;

text-align: center;
}
.icons a {
    text-decoration: none;
    color: white;
    
}
.icons i {
    font-size: 20px;
    color: white;
    padding-left: 30px;
    padding-top: 5px;
    transition: all 0.4s ease-in-out;

}
.icons i:hover {
    color: #f1c40f;
}}
.section {
    padding: 60px 10%;
    color:white;
}
#about {
    text-align: justify;
    width: 100%;
    line-height: 30px;
    color: white;
    margin-left: -6%;
}
#about h2 {
    margin-top: 20px;
}
#about p {
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
}
#about span {
    font-size: 60px;
    color: #f1c40f;
}
.images-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    cursor: pointer;
}
.images-row img {
    width: 45%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.images-row img:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#services {
    margin-left: -6%;
}
#services h2 {
    margin-top: 20px;
    

}
#services span {
    font-size: 60px;
    color: #f1c40f;
}
#services ul li {
font-size: 20px;
transition: transform 0.4s ease-in-out;
}
#services ul li:hover {
    transform: translateY(-5px);
}
#blog {
    margin-left: -6%;
}
#blog h2 {
    margin-top: 20px;
}
#blog p{
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 20px;
}
#blog span {
    font-size: 60px;
    color: #f1c40f;
}
.more {
    width: 100px;
    height: 40px;
    background: #f1c40f;
    border-radius: 10px;
    border: none;
    border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;

}
.more:focus {
    outline: none;
}
.more:hover {
    background: white;
}
.form-row {
    display: flex;
    flex: end;
    gap: 20px;
    
}
#contact {
    margin-left: -6%;
}
#contact h2 {
    margin-top: 20px;
}   
#contact span {
    font-size: 60px;
    color: #f1c40f;
}
#contact input {
    width: 240px;
    height: 35px;
    background: transparent;
    border: 1px solid #f1c40f;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px;
}
.btn-msg {
    width: 200px;
    height: 40px;
    background: #f1c40f;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn-msg:hover {
    background: white;
    color:#f1c40f
}
#contact textarea {
    width: 240px;
    height: 100px;
    background: transparent;
    border: 1px solid #f1c40f;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px;
}   


