*{
margin: 0;
padding: 0;
}

.main{
    width: 100%;
    background-image: url("../images/beauty.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    width: 86%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: auto;
}
.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul {
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px
}
ul li a{
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s ease;
    color: darkslategray;      
}
ul li a:hover{
    color: rgb(230, 104, 59);
}
.info {
    margin-left: 7%;
    margin-top: 8%;
}
.info h1{
    font-size: 65px;
    color: rgb(36, 32, 30)
}
.info h3 {
    font-size: 18px;
    line-height: 24px;
}
.info span {
    color: rgb(230, 104, 59);
}
.info a {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 32, 30);
    padding: 10px 18px;
    margin: 26px 0;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
    transition: all 0.4s ease;                          
}
.info a:hover {
    background-color: rgb(59, 174,209);
}
.image {
    width: 300px;
    position : absolute;
    right: 100px;
    bottom: 0;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
    
}
.image img:hover {
    transform: translate(10px);
}
